<section class="flexcol" autocomplete="off">
  <div>system.hitppoints.max:
    {{system.hitpoints.max}}
    (system is the data from the datamodel schema)
  </div>
  <div>editable: {{editable}}</div>
  <div>fields.type.name: {{fields.type.name}} (the fields in the datamodel schema)</div>
  <div>source.name: {{source.name}} (source is same as document._source)</div>
  <div>source.img: {{source.img}} (but document._source may be frozen??)</div>
  <div>system hp max: {{system.hitpoints.max}}</div>
  <div>document.img: {{document.img}}</div>
  <div>document.name: {{document.name}}</div>
  <div>actor.type: {{actor.type}}</div>
  <div>actor.name: {{actor.name}}</div>
  <div>system.hitpoints.value: {{system.hitpoints.value}}</div>
</section>